# Environment #
.env

# Python #
__pycache__/

# SQLite #
*.db
*.db-journal
*.sqlite3
*.sqlite3-journal

# Jupyter Notebook #
.ipynb_checkpoints

# Macos #
.DS_Store

# VS Code #
.vscode

# Shapenet #
shapenetcore_partanno_segmentation_benchmark_v0/
shapenetcore_partanno_segmentation_benchmark_v0.zip

# wandb #
wandb/

# Models #
*.pth

# Private #
scripts/logs
slurm-*.out
real_train.sh
